.row.dashboard
  .container
    .col-lg-8
      .panel
    .col-lg-4
      .container
        .panel.panel-success
          .panel-heading
            Summary
          .panel-body
      .panel.panel-info
        .panel-heading Projects
        .panel-body
          %ul
            %li Project 1
            %li Project 2
