.row
  .container
    .col-lg-10
      .stub-header
        .container
          %h1 Putne
          %p This is awesome Stub Application. You can freely sign in and write posts. Thank you!
  %br/
  %br/

  .container
    .col-lg-4
      .panel
        .panel-heading Self-hosted
        .panel-body

    .col-lg-4
      .panel
        .panel-heading Open source
        .panel-body

    .col-lg-4
      .panel
        .panel-heading Code metrics
        .panel-body


  .container
    .col-lg-4
      .panel
        .panel-heading Dashboard
        .panel-body

    .col-lg-4
      .panel
        .panel-heading Visualization
        .panel-body

    .col-lg-4
      .panel
        .panel-heading Summary
        .panel-body

