.row
  .col-lg-12
    .stub-header
      %h2 Dev.Study.Members 1주차 Mission05-5
      %ul
        %li 
          %strong ✓
          Login   
        %li 
          %strong ✓
          Logout 
        %li 
          %strong ✓
          Post 등록
        %li 
          %strong ✓
          댓글 등록
        %li 
          %strong ✓
          Session / Cookie 처리
        %li 
          %strong ✓
          Heroku 등록

  .col-lg-12
    %h2 Mission Images
    .col-lg-6
      %img.img-responsive.img-rounded{src: "/images/mission05_1.jpg"}
    .col-lg-6
      %img.img-responsive.img-rounded{src: "/images/mission05_2.jpg"}
