.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        목차
      .panel-body
        %ul
          %li 1. 소개
          %li 2. 설치
          %ul
            %li 1. 윈도우
              
        
  .col-lg-8
    .panel.panel-default
      .panel-body

    
