/.bundle

/db/*.sqlite3
/public/system/*

/vendor/bundler
/vendor/bundler/*

/config/initializers/secret_token.rb

/log/*.log
/report/*
/tmp/*
/tmp/**/*
/tmp/**
/doc/*
*.swp
*~
.DS_Store
/coverage/*
\#*
.\#*
*#
*.log

#from https://github.com/github/gitignore/blob/master/Rails.gitignore
**.orig
rerun.txt
pickle-email-*.html
.project
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
