%h3
  새로운 사용자 등록
.col-lg-5
  .container
    = render 'form'
.col-lg-3
.col-lg-4
  .panel
    .panel-heading 
      %h4 새로운 사용자 등록.
    .panel-body
      %p 
        프로젝트 관리를 위한 새로운 사용자를 등록합니다. Putne에 새로운 프로젝트를 등록하고 관리하기 위해서는 사용자로 등록이 되어있어야 합니다.
      %p
        기본 관리자 계정에 관한 정보는 
        %a{href: "http://github.com/nacyot/putne"} Putne GitHub 페이지
        를 확인해주세요.


