.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    .text-right
    - @commits.each do |commit|
      = render partial: "shared/commit_card", locals: {commit: commit}
    = paginate(@commits)
  = render "shared/project_sidebar", locals: {project: @project}

