.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    = CodeRay.scan(@file, :ruby).div.html_safe
  = render "shared/project_sidebar", locals: {project: @project}
