.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    %table.table.table-striped
      %th File Path
      - @report.target_files.each do |file|
        %tr
          %td= file.path
  = render "shared/project_sidebar", locals: {project: @project}
