.panel-heading
  %h1 
    %i.icon-inbox
    = @class.name
.list-group
  .list-group-item
    .row
      .col-lg-12.col-md-12.col-sm-12
        %img{src: "/images/horison_sunbrust.jpg", style: "width: 100%;"}
  .list-group-item
    .row
      .col-lg-9.col-md-9.col-sm-9
        %h4 Complexity
      .col-lg-3.col-md-3.col-sm-3
        %h4 Map
  .list-group-item
    .row
      .col-lg-9.col-md-9.col-sm-9
        %img{src: "/images/line_one_chart.png", style: "width: 100%;"}
      .col-lg-3.col-md-3.col-sm-3
        %img{src: "/images/donut_chart.png", style: "width: 100%;"}
  .list-group-item
    .row
      .col-lg-9.col-md-9.col-sm-9
        %h4 Source Code
      .col-lg-3.col-md-3.col-sm-3
        %h4 Index
  .list-group-item
    .row
      .col-lg-12.col-md-12.col-sm-12
        = CodeRay.scan(@file, :ruby).div.html_safe




