.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    %h3= @method_name
    = CodeRay.scan("  "+ @method, :ruby).div.html_safe
  = render "shared/project_sidebar", locals: {project: @project}
