.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    - @project.reports.each do |report|
      = report.created_at
      %br/
  = render "shared/project_sidebar", locals: {project: @project}
