.report-module
  %h5 Hotspot - classes
  %table
    %tr
      %th 1.
      %td Report
    %tr
      %th 2.
      %td Git
    %tr
      %th 3.
      %td ReportCreator

  %h5 Hotspot - methods
  %table
    %tr
      %th 1.
      %td Report#init
    %tr
      %th 2.
      %td Git#load_reposiotry
    %tr
      %th 3.
      %td Git#create_report 
       

