.report-module
  %h5 Activity
  %table
    %tr
      %th Total commits # 
      %td
    %tr
      %th Last week
      %td
    %tr
      %th Last month
      %td
  %h5 Committer
  %table
    %tr
      %th 1.
      %td
    %tr
      %th 2.
      %td
    %tr
      %th 3.
      %td
