!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
  %body
    %h1 
      Welcome to example.com
      = @user.email
    %p 
      You have successfully signed up to example.com,
      your username is:

