.list-group
  .list-group-item  
    .row
      .col-lg-4.col-mg-4.col-sm-4
        %h5= project.title
        Last commit date :
        %br/
        Last commit hash :
      .col-lg-4.col-mg-4.col-sm-4
        %h5= project.title
        Last commit date :
        %br/
        Last commit hash :
      .col-lg-4.col-mg-4.col-sm-4
        %h5= project.title
        Last commit date :
        %br/
        Last commit hash :


