.panel-heading
  %h1 Settings
.list-group
  .list-group-item
    %h3 Destroy project
  -# TODO: btn-alert 적용 및 버튼 클릭시 경고
  .list-group-item
    %button.btn.btn-alert= link_to "Delete", project_path(@project), method: "delete"
  .list-group-item
    %h3 Hook url
  .list-group-item
    = project_api_hook_url


 
