.panel-heading
  %h1 Settings
.list-group
  .list-group-item
    %h3 Destroy project
  .list-group-item
    = link_to project_path(@project), method: "delete", confirm: "Are you sure?" do
      %button.btn.btn-danger Destroy
  .list-group-item
    %h3 Hook url
  .list-group-item
    = project_api_hook_url


 
