.row
  .project.container
    .main.col-lg-9.panel
      = render "shared/project_info", locals: {project: @project}
    = render "shared/project_sidebar", locals: {project: @project}

%p#notice= notice

