.panel-heading
  %h1 
    %i.icon-film
    = @project.title
    Summary
.list-group
  .list-group-item
    .row.summary
      .col-lg-4.col-mg-4.col-sm-4
        %h5 Summary
        %table
          %tr
            %th Files
            %td.value 205
            %td.sparkline
              %span.sparkline-test
          %tr
            %th Classes
            %td.value 180
            %td.sparkline
              %span.sparkline-test
          %tr
            %th Methods
            %td.value 1020
            %td.sparkline
              .sparkline-test

      .col-lg-4.col-mg-4.col-sm-4
        %h5 Summary
        %table
          %tr
            %th Files
            %td.value 205
            %td.sparkline
              %span.sparkline-test
          %tr
            %th Classes
            %td.value 180
            %td.sparkline
              %span.sparkline-test
          %tr
            %th Methods
            %td.value 1020
            %td.sparkline
              .sparkline-test
        
      .col-lg-4.col-mg-4.col-sm-4
        %h5 Summary
        %table
          %tr
            %th Files
            %td.value 205
            %td.sparkline
              %span.sparkline-test
          %tr
            %th Classes
            %td.value 180
            %td.sparkline
              %span.sparkline-test
          %tr
            %th Methods
            %td.value 1020
            %td.sparkline
              .sparkline-test

  .list-group-item
    %ul.nav.nav-tabs.nav-justified
      %li.active
        %a Sunbrust
      %li 
        %a Treemap
      %li 
        %a Circle packing
    %img{src: "/images/sunbrust.jpg", style: "width: 100%"}
  .list-group-item
    %h1 TimeTrend
  .list-group-item
    %h1 CommitTrend
  .list-group-item
    .row
      .col-lg-6
        %h1 Code quality
      .col-lg-6
        %h1 Language

