FactoryGirl.define do
  factory :user do
    name "Michael Hartl"
    email "mhartl@example.com"
    password "foobar"
    password_confirmation "foobar"
  end

  sequence :email do |n|
    "person-99#{n}@example.com"
  end

  factory :micropost do |micropost|
    content "Foo bar"
    association :user
  end
end


