%h3
  로그인
.col-lg-5
  .container
    = render 'form'
.col-lg-3
.col-lg-4
  .panel
    .panel-heading 
      %h4 로그인
    .panel-body
      %p 
        Putne를 이용하기 위해선 사용자로 로그인해야합니다. 아직 사용자가 아니시라면 사용자로 등록해주세요.
