/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require nvd3/src/nv.d3
 *= require bootstrap/dist/css/bootstrap.min
 *= require font-awesome/css/font-awesome.min
 *= require_self
 *= require_tree .

 */

body {
    padding: 50px 40px;
    background-color: black;
}

.main-contents{
    margin: 15px 40px;
}

.project{
    margin-top: 25px;
}

.stub-header h1{
    font-size: 72px;
}

.stub-header p{
    padding-top: 10px;
    font-size: 30px;
    line-height: 1.3em;
}

.stub-header li{
    padding-top: 10px;
    font-size: 20px;
    list-style-type: none;
}

.stub-header li strong{
    font-size: 35px;
    color: green;    
}

.project .sidebar li a{
    color: #353;
    background-color: #f5dce3;
    font-size: 1.1em;
}

.project .sidebar li a:hover, .project .sidebar li a:focus{
    color: black;
}

.project .main .info .address{

}

.project .main .info .description{

}


.project .sidebar{
    padding: 5px 15px;
}

.dropdown-toggle{
    text-align: center;
    width: 300px;
}

.navbar-profile{
    width: 300px;
}

.header .gravatar img{
    margin: 0;
    padding: 0;
}

.gravatar-profile{
    margin: 25px;
}

.dashboard{
    margin-top:35px;
}

.footer{
    margin-top: 100px;
    padding: 28px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #888;
}

.footer a{
    font-weight: bold;
}

.churn .name{
    width: 75%;
}

.churn .times{
    width: 25%;
}

.loginbox{
    border: 1px solid #eeeeee;
    margin: 50px;
    margin-top: 100px;
    padding: 60px;
    padding-top: 40px;
}
