/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require nvd3/src/nv.d3
 *= require bootstrap/dist/css/bootstrap.min
 *= require font-awesome/css/font-awesome.min
 *= require_tree .
 *= require_self

 */

body {
    padding: 65px 0px;
}

.main-contents{
    margin: 0px 40px;
}

.projects{
    width: 100%;
    position: fixed;
}

.panel{
    margin-top: 25px;
}

.panel-heading h1{
    padding: 0 0 5px;
    margin: 0;
}

.stub-header h1{
    font-size: 72px;
}

.stub-header p{
    padding-top: 10px;
    font-size: 30px;
    line-height: 1.3em;
}

.stub-header li{
    padding-top: 10px;
    font-size: 20px;
    list-style-type: none;
}

.stub-header li strong{
    font-size: 35px;
    color: green;    
}

.project .sidebar li a{
    color: #353;
    padding: 6px;
    font-size: 1em;
}

.project .sidebar .badge{
    font-size: 0.8em;
}

.project .sidebar li a:hover, .project .sidebar li a:focus{
    color: black;
}

.info{
    border-bottom: 1px solid #999;
}

.info .address{
    font-size: 1.4em;
    padding-bottom: 10px;
    margin: 42px 15px 10px;
}

.info button{
    width: 140px;
}

.info .description{

}


.project .sidebar{
    padding: 0px 15px 5px;
}

.dropdown-toggle{
    text-align: center;
    width: 300px;
}

.navbar-profile{
    width: 300px;
}

.header li{
    padding-top: 5px; 
}

.header button{
    margin-top: 15px;
    margin-left: 10px;
}

.header .gravatar img{
    margin: 0;
    padding: 0;
}

.gravatar-profile{
    margin: 25px;
}

.dashboard{

}

.footer{
    margin-top: 100px;
    padding: 28px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #888;
}

.footer a{
    font-weight: bold;
}

.churn .name{
    width: 75%;
}

.churn .times{
    width: 25%;
}

.loginbox{
    border: 1px solid #eeeeee;
    margin: 50px;
    margin-top: 100px;
    padding: 60px;
    padding-top: 40px;
    background:  url('/images/logo300.png') -50px -50px no-repeat;
}

.sparkline-tooltip{
    position: absolute; 
    padding: 5px 5px 15px 15px;
    min-height: 30px;
    min-width: 50px;
    left: 0px; 
    top: 0px; 
    visibility: hidden; 
    background: rgb(0, 0, 0) transparent; 
    background-color: rgba(0,0,0,0.6); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; 
    color: white; 
    font: 10px arial, san serif; 
    text-align: left; 
    white-space: nowrap; 
    padding: 5px; 
    border: 1px solid white; 
    box-sizing: content-box; 
    z-index: 10000; 
} 

.jqstooltip{
    box-sizing: content-box;
}

.summary table{
    width: 100%;
}

.summary table th{
    width: 33%;
}

.summary table td{
    width: 33%;
}


.axis{
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


svg {
  font-size: 10px;
}

.day {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .1;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

.arc path {
  stroke: #fff;
}
