.project.container
  .main.col-lg-9.panel
    = render "shared/project_info", locals: {project: @project}
    .page-header
      %h1 Reports
    %table.table.table-striped
      %th Report Num
      %th Branch
      %th Commit
      - @reports.each do |report|
        %tr
          %td= link_to report.id, project_report_path(report.project, reportb
          %td
            %td

  = render "shared/project_sidebar", locals: {project: @project}

-#%td= link_to 'Show', project_report_path(report.project, report)
-#%td= link_to 'Edit', edit_project_report_path(report.project, report)
-#%td= link_to 'Destroy', project_report_path(report.project, report), :method => :delete, :data => { :confirm => 'Are you sure?' }
-#= link_to 'New Report', new_project_report_path
