.panel-heading
  %h1 
    %i.icon-film
    = @project.title
    Summary
.list-group
  .list-group-item
    .row
      .col-lg-4.col-mg-4.col-sm-4
        = render partial: "report_module/project_summary_4", locals: {project: @project}      
        %br/
        = render partial: "report_module/project_hotspot_4", locals: {project: @project}
      .col-lg-8.col-mg-8.col-sm-8
        %img{src: "/images/sunbrust.jpg", style: "width: 100%"}
