- content_for(:sidebar) do
  = render "shared/project_info", locals: {project: @project}
  .project
    .main.col-lg-10.col-sm-8
      .panel.panel-default
        = yield
    .sidebar.col-lg-2.col-sm-4
      = render "shared/project_sidebar", locals: {project: @project}
= render template: "layouts/application"
